@font-face {
    font-family: BeachSound;
    src: url("BeachSound.otf") format("opentype");
}
*{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: #EFE9E7;
}
.easter-egg{
    font-family: BeachSound;
    text-decoration: none;
    cursor: text;
}
.container{
    justify-content: center;
    align-items: center;
    display: flex;
}
p{
    margin-left: 10px;
    margin-right: 10px;
}
.back{
    top: 6px;
    position: fixed;
}
.div{
    width: 1000px;
    border: 10px solid #EFE9E7;
    margin-bottom: 2%;
    font-size: 19px;
    padding: 3%;
    text-align: justify;
}
h1{
    font-family: BeachSound;
    text-align: center;
    font-size: 50px;
    margin: 1 1 1 1;
}
h3{
    margin-bottom: 2%;
}
body{
    background: #52154E center repeat;
    overflow: hidden;
}
img{
    display: inline;
}